/* Basic Reset & Typography */
html { scroll-behavior: smooth; }
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: system-ui, sans-serif; line-height: 1.6; color: #333; }

/* Utility */
section { padding: 4rem 1rem; text-align: center; }
h1 { margin-bottom: 1rem; }
h2 {margin-top: 1rem;
font-size: 1.2rem;}
h3 {margin-top: 1rem; font-size: 1rem;}
p { margin-bottom: 1.5rem; }
a { color: #0366d6; text-decoration: none; }
a:hover { text-decoration: underline; }

section ::after(.header) {
  padding-top: 0;
}

.even { background: #f5f5f5; }
.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 2px solid #0366d6;
  border-radius: 0.25rem;
}

/* Sections */
.odd { background: #fff; }

/* Footer */
footer {
  padding: 2rem 1rem;
  background: #222;
  color: #eee;
  font-size: 0.9rem;
}

section.header {
  padding: 1rem;
}

section.header div{
  display: flex;
  flex-flow: row-reverse;
}

section.header a {
  margin: 1rem;
}


.row {
  display: flex;
}

.column {
  flex: 50%; 
}

.column div {
  min-width:200px;
  max-width: 300px;
  margin-right: 2rem;
}

.column img {
  max-width: 100%;
  max-height: 100px; 
}

.column.left-aligned div{
  position:relative;
  float: left;
}

.column.right-aligned div {
  position: relative;
  float: right;
}

.row.project-logo {
  margin-top: 4rem;
}

.row.project-logo img {
  height: 70px;
  width: unset;
}
